<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Blog Web Application</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link href="/style.css" rel="stylesheet">
  </head>
  <%-include("partials/navbar.ejs")%>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% blogs.forEach((blog)=>{%>
        <div class="col">
          <div class="card shadow-sm">
              <img
              src="<%=blog.image%>"
              class="bd-placeholder-img card-img-top"
              alt="<%=blog.image%>"
              height="200"
              width="100%"
              style="object-fit: cover"
            />
            <div class="card-body">
                <h5><%=blog.title%></h5>
              <p class="card-text cardHeight">
                <%=blog.blogContent%>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    View
                  </button>
                </div>
                <small class="text-body-secondary"><%=blog.author%></small>
              </div>
            </div>
          </div>
        </div>
        <% })%> 
      </div>
    </div>
  </div>
  
  <%-include("partials/footer.ejs")%>
</html>
